/build/
/dist/
/nbproject/private/
/*.class
/*.iml
/.mvn/
target/

# IntelliJ IDEA: keep only shared project config
/.idea/*
!/.idea/.gitignore
!/.idea/misc.xml
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/jarRepositories.xml
!/.idea/vcs.xml
